<h1>fill your experience details</h1>

<%= form_for @experience, url:experiences_path  do |f| %>
  company_name: <%= f.text_field :company_name %><br/>
  designation : <%= f.text_field :designation %><br/>
  description: <%= f.text_field :description%><br>
  start_date: <%= f.text_field :start_date%><br>
  end_date: <%= f.text_field :end_date%><br>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%= f.submit %>
<% end %>