<h1>DETAILS OF THE USER'S EXPERINECE</h1>
company_name: <%= @experience.company_name%></br><hr>
designation:<%= @experience.designation%></br><hr>
description:<%= @experience.description%><br><hr>
start_date:<%= @experience.start_date%><br><hr>
end_date: <%= @experience.end_date%>