 <h1>DETAILS OF THE USER'S EDUCATION</h1>
university_name :<%= @education.university_name%></br><hr>
stream :<%= @education.stream%></br><hr>
description :<%= @education.description%><br><hr>
start_date :<%= @education.start_date%><br><hr>
percentage :<%= @education.percentage%><br><hr>
end_date :<%= @education.end_date%>